body
{
  background-color: #10171e;
}

.setinha
{
  width: 4%;
  position: relative;
  left: 0;
  top: -364.578px;
}

#banner
{
  display: block;
  width: 998px;
  margin-left: auto;
  margin-right: auto;
  border-top: 1px solid rgba(200, 200, 200);
  border-left: 1px solid rgba(200, 200, 200);
  border-right: 1px solid rgba(200, 200, 200);
}

header
{
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 10px;
  background-color: rgba(200, 200, 200);

}

header h1, h2,h3, p
{
  padding-left: 20px;
  padding-right: 20px;
}

header li
{
  list-style: none;
}

header a {
  text-decoration: none;
  color: black;
  font-size: 30px;
}

article
{
  position: relative;
}

#menu .menu {
  position:absolute;
  left: 1000px;
  top: 0;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  transition: all 200ms ease;
}

#menu .setinha:hover .menu
{
  left: 1000px;
  opacity: 1;
}

.big
{
  border-radius: 50%;
  width: 10%;
  margin: 50px;
  display: block;
  position: absolute;
  top: 250px;
  left: 42%;
  border: 5px solid rgba(195, 195, 195);
}

header span
{
  font-weight: bold;
  color: white;
}

main
{
  margin-left: auto;
  margin-right: auto;
  width: 996px;
  background-color: rgba(225, 225, 225);
}

.little
{
  width: 10%;
  border-radius: 50%;
  display: block;
}

#posts .little
{
  width: 6%;
  border-radius: 50%;
  margin-left: 10px;
  float: left;
}

#posts
{
  width: 960px;
}

#posts p
{
  padding-left: 60px;
  padding-top: 10px;
  margin-left: 20px;
}

#posts .post
{
  padding-bottom: 20px;
  border-bottom: 1px solid gray;
}

iframe
{
  margin-top: 20px;
}

#posts img
{
  width: 500px;
  margin-top: 10px;
}

.name
{
  font-weight: bold;
}
